body {
    background-color: #f6f6ed;
    box-sizing: border-box;
    max-width: 50em;
    margin: auto;

}

h1 {
    text-align: left;
}


.bayan {
    background-color: #f6f6ed;
    color:black;
    position: static;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;

   
}

.text-foto {
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #d3d9e1;

}

.mem-foto {
    display: none;

}

.mem-label {
    display: block;
    cursor: pointer;
}


.mem-input {
    appearance: none;
}

.mem-input:hover + .mem-foto {
    display: block;
}

.mem-input:checked + .mem-foto {
    display: inline-block;
}

