body {
    background-color: blanchedalmond;
    position: static;
    box-sizing: border-box;
}


.bayan {
    background-color:blanchedalmond;
    color:black;
    max-width: 500 px;
    margin: 20 px auto;
    position: static;
    box-sizing: border-box;
   
}

.text-foto {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: grey;

}

.mem-foto {
    display: none;

}

.mem-label {
    display: block;
    cursor: pointer;
}

.mem-input {
    appearance: none;
}

.mem-input:hover + .mem-foto {
    display: block;
}

.mem-input:checked + .mem-foto {
    display: inline-block;
}